<nav class="navbar navbar-inverse" style="margin-bottom: 0;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="addresses">OpenEvacMap</a>

            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <span class='glyphicon glyphicon-info-sign pull-right'  data-toggle="modal" data-target="#myModal"
                          style="color: white;margin-top: 18px;margin-right: 18px;"></span>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 20px">

    <form action="{{ actionUrl }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" ng-value="lat" name="lat">
        <input type="hidden" ng-value="lon" name="lon">
        <input type="hidden" value="{{ redirectUrl }}" name="redirectUrl">
        
        <div class="form-group">
            <label for="image"><span class="glyphicon glyphicon-camera text-success"></span> Photographiez le plan en cliquant sur le bouton</label>
            <input type="file" name="image" id="image" capture="camera" accept="image/*" required>
        </div>

        <div class="form-group">
            <p>Informations supplémentaires : </p>
        </div>

        <div class="form-group">
            <label for="level">Etage</label>
            <input id="level" type="text" class="form-control" ng-model="map.level" name="level" placeholder="Etage">
        </div>

        <div class="form-group">
            <label for="building">Bâtiment</label>
            <input id="building" type="text" class="form-control" ng-model="map.building" name="building"
                   placeholder="Bâtiment">
        </div>

        <div class="form-group">
            <label for="name">Nom du lieu</label>
            <input id="name" type="text" class="form-control" ng-model="map.name" name="name" placeholder="Nom">
        </div>

        <i ng-show="myForm.file.$error.required">*required</i><br>
        <i ng-show="myForm.file.$error.maxSize">File too large
            {{errorFiles[0].size / 1000000|number:1}}MB: max 4M</i>

        <button class="btn btn-primary" type="submit">Envoyer</button>

    </form>
</div>



