<div class="container-fluid">
    <div class="row">
        <a href="{{ map.path }}">
            <img src="{{ map.path }}" style="max-width: 100%">
        </a>
    </div>

    <div class="row">
        <ul class="list-group">
            <li type="text" class="list-group-item" aria-describedby="basic-addon1" ng-if="map.level">
                Etage : <strong>{{ map.level }}</strong>
            </li>
            <li type="text" class="list-group-item" aria-describedby="basic-addon1">
                Bâtiment : <strong>{{ map.building }}</strong>
            </li>

        </ul>
    </div>

    <div class="row">
        <button class="btn btn-alert" ng-click="reportMap()">Reporter ce plan</button>
    </div>

</div>