<nav class="navbar navbar-inverse" style="margin-bottom: 0;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="addresses">OpenEvacMap</a>

            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <span class='glyphicon glyphicon-info-sign pull-right' data-toggle="modal" data-target="#myModal"
                          style="color: white;margin-top: 18px;margin-right: 18px;"></span>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="margin-top:40px;">
        <h1 class="text-center"><span class="glyphicon glyphicon-ok text-success"></span></h1>
    </div>
    <div class="row">
        <p class="text-center">Merci d'avoir contribué à OpenEvacMap!</p>
        <p class="text-center">Grâce à vous, nous construisons et monde meilleur.</p>
    </div>
</div>